body {
    margin: 0;
    font-family: Arial;
    background-color: #1e1e1e;
    color: white;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
}